@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  font-family: 'Poppins', sans-serif !important;
}
body, html{
  background-color: #161616;
  color:#fff;
  overflow-x: hidden;
}
.VueCarousel-wrapper {
  overflow: visible !important;  
}
.VueCarousel-dot-container {
  margin-top: 0 !important;
  button {
    width: 7px !important;
    height: 7px !important;
    padding: 5px !important;
    border-radius: 5px !important;
    &:focus {
      outline: 0 !important;
    }
  }
}