@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  font-family: 'Poppins', sans-serif !important;
}
body, html{
  background-color: #161616;
  color:#fff;
  overflow-x: hidden;
}
.VueCarousel-wrapper {
  overflow: visible !important;  
}
.VueCarousel-dot-container {
  margin-top: 0 !important;
  button {
    width: 7px !important;
    height: 7px !important;
    padding: 5px !important;
    border-radius: 5px !important;
    &:focus {
      outline: 0 !important;
    }
  }
}

// Alertas Usuários

.alert p {
  font-weight: 300;
  margin-bottom: 3px;
  font-size: 0.75rem;
}

.alert-success {
  background-color: transparent !important;
  border-color: #00ff4c;
  color: #6ff597;
  text-align: center;
  padding: 3px;
  border-radius: 0;
}

.alert-danger {
  background-color: transparent !important;
  border-color: #FF0000;
  color: #f56f6f;
  text-align: center;
  padding: 3px;
  border-radius: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ccc #161616;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #161616;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 3px solid #161616;
  }